body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color:orange;
}
article{
    float: left;
    border: black solid 2px;
    margin: 20px;
    width: 350px;
    background-color: gold;
    border-radius: 10px;
    padding: 10px;
}
article img{
    float: left;
    height:180px;
    margin-right: 10px;
    border-radius: 10px;
}
table{
    margin-top:20px;
    border: solid 2px black;
    border-collapse: collapse;
}
tr:nth-child(2n){
    background-color: antiquewhite;
}
tr:nth-child(2n+1){
    background-color:white;
}
th, td {
    padding: 5px;
    border: solid 1px black;

}

td img {
    width: 50px;
}